@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
   
}
body{
    background-color: antiquewhite;
}


.container{
  width: 300px; 
  height: 450px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  border-radius: 10px;


}
.container .image img{
    width: 100%;
    border-radius: 6px;
}
.content{
   text-align: center;
   margin-top: 15px;
 

}
.content h2{
    font-size: 22px;
    color: rgb(60, 76, 87);
}

.content p{
    font-size: 16px;
    font-weight:200;
    padding-top: 10px;
    color: rgb(60, 76, 87);
    
}